﻿@model UTM.Models.Employee

<div class="container">
    <b style="font-size: 24px">Data Karyawan</b>
    <button type="button" class="btn btn-primary" onclick="add()">
        Tambah
    </button>
    <hr />

    <div id="notification" style="margin-bottom:25px"></div>

    <table class="table table-bordered table-hover table-striped" id="employee-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>J. Kelamin</th>
                <th>Tgl. Lahir</th>
                <th>Agama</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Judul</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">Nama</div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "employeeName" } })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">J. Kelamin</div>
                    <div class="col-lg-9">
                        @Html.EnumDropDownListFor(model => model.Sex, htmlAttributes: new { @class = "form-control", @id = "employeeSex" })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">Tgl. Lahir</div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control", @id = "employeeBirthdate" } })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">Agama</div>
                    <div class="col-lg-9">
                        @Html.EnumDropDownListFor(model => model.Religion, htmlAttributes: new { @class = "form-control", @id = "employeeReligion" })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">Pekerjaan</div>
                    <div class="col-lg-9">
                        <select class="form-control" name="JobId" id="formJob"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
                <button type="button" class="btn btn-primary" onclick="save()">Simpan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4"><b>Nama</b></div>
                            <div class="col-lg-8" id="detailName"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"><b>J. Kelamin</b></div>
                            <div class="col-lg-8" id="detailSex"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"><b>Tgl. Lahir</b></div>
                            <div class="col-lg-8" id="detailBirthdate"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"><b>Agama</b></div>
                            <div class="col-lg-8" id="detailReligion"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"><b>Job</b></div>
                            <div class="col-lg-8" id="detailJob"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var type, id, jobOption;

    var employeeTable = $("#employee-table").DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/api/employee",
        "pagingType": "full_numbers",
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "sex" },
            { "data": "birthdate" },
            { "data": "religion" },
            {
                "render": (data, type, row) => {
                    return "<button class='btn btn-sm btn-info' onclick='detail(`" + JSON.stringify(row) + "`)'>Detail</button>\
                    <button class='btn btn-sm btn-warning' onclick='edit(`" + JSON.stringify(row) + "`)'>Ubah</button>\
                    <button class='btn btn-sm btn-danger' onclick='deleteData(`"+ JSON.stringify(row) + "`)'>Hapus</button>"
                }
            }
        ]
    })

    employeeTable.on('order.dt search.dt', function () {
        employeeTable.column(0, { search: 'applied', order: 'applied' }).nodes().each((cell, i) => {
            cell.innerHTML = i + 1;
        });
    }).draw();

    const getJob = async() => {
        if (jobOption === undefined) {
            await $.ajax({
                url: "https://localhost:44314/api/job",
                success: (res) => {
                    res.map(v => {
                        jobOption += `<option value='${v.ID}'>${v.Name}</option>`
                    })
                }
            });
        }

        $("#formJob").html(jobOption)
    }

    const add = () => {
        getJob()

        type = 'POST'
        id = null

        $("#employeeName").val('')
        $("#employeeSex").val('')
        $("#employeeBirthdate").val('')
        $("#employeeReligion").val('')
        $("#formModal").modal("show")
    }

    const edit = (data) => {
        getJob()

        const d = JSON.parse(data)

        type = 'PUT'
        id = d.id

        $("#employeeName").val(d.name)
        $("#employeeSex").val(d.sex)
        $("#employeeBirthdate").val(d.birthdate)
        $("#employeeReligion").val(d.religion)
        $("#formModal").modal("show")
    }

    const save = () => {
        let data
        let url = '/api/employee'

        if (type === 'POST') {
            data = {
                Name: $("[name='Name']").val(),
                Sex: $("[name='Sex']").val(),
                Birthdate: $("[name='Birthdate']").val(),
                Religion: $("[name='Religion']").val(),
                JobId: $("[name='JobId']").val()
            }
        }

        else if (type === 'PUT') {
            url += `/${id}`

            data = {
                Id: id,
                Name: $("[name='Name']").val(),
                Sex: $("[name='Sex']").val(),
                Birthdate: $("[name='Birthdate']").val(),
                Religion: $("[name='Religion']").val(),
                JobId: $("[name='JobId']").val()
            }
        }

        $.ajax({
            url,
            type,
            data,
            success: () => {
                employeeTable.ajax.reload()

                let notification = `<div class="alert alert-success" role="alert">Data berhasil disimpan</div>`
                $("#notification").html(notification)
                $("#formModal").modal("hide")
            }
        })
    }

    const deleteData = (data) => {
        const d = JSON.parse(data)

        if (confirm(`Apakah Anda yakin ingin menghapus ${d.name}?`)) {
            $.ajax({
                url: `/api/employee/${d.id}`,
                type: 'delete',
                success: () => {
                    employeeTable.ajax.reload()

                    let notification = `<div class="alert alert-success" role="alert">Data berhasil dihapus</div>`
                    $("#notification").html(notification)
                }
            })
        }
    }

    const detail = (data) => {
        const d = JSON.parse(data)

        $("#detailName").text(": "+d.name)
        $("#detailSex").text(": " +d.sex)
        $("#detailBirthdate").text(": " +d.birthdate)
        $("#detailReligion").text(": " +d.religion)
        $("#detailJob").text(": " +d.job)

        $("#detailModal").modal("show")
    }
</script>