﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table table-striped table-bordered table-hover" id="account">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var item in ViewBag.users){
                            <tr>
                                <td>@i</td>
                                <td>@item.Email</td>
                                <td>@item.Role</td>
                            </tr>
                        { i += 1; }
                    }
                  }
                </tbody>
        </table>
    </div>
    <script>
        var accountTable = $("table#account").DataTable()
    </script>
</body>
</html>
